/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.scrollOff{
	overflow: hidden;
	width: calc(100% - 17px);
}
.bgOfModul{
	position: fixed; 
	top: 0;
	left: 0;
	z-index: 99; 
	background: rgba(0,0,0,0.5); 
	width: 100%; 
	height: 100%; 
	cursor: pointer;
	font-family: Arial;
	overflow: auto;
	.wrapperModalWindow{
		display: table;
		height: 100%;
		padding: 30px 0;
		box-sizing: border-box; 
		.centerVert{
			display: table-cell;
			vertical-align: middle;
			min-height: 100%;
		  	.modulWindow{
		  		position: relative;
		  		width: 50%; 
				height: auto;
				left: 50%;
				margin-left: -25%;
				padding: 0 20px 20px 20px;
				z-index: 100; 
				line-height: 1.5;
				font-family: Arial;
				background: white;
				border-radius: 5px;
				box-sizing: border-box;
				cursor: default;
				-webkit-box-shadow: 0 0 50px black;
				-moz-box-shadow: 0 0 50px black;
				box-shadow: 0 0 50px black;
				display: none;
				h5{
					font-size: 18px;
					font-weight: bold;
					margin-bottom: 15px; 
				}
				.close{
					position: relative;
					left: calc(100% + 10px);
					top: -10px;
					width: 20px;
					height: 20px;
					padding: 0;
					margin: 0;
					background: white;
					border: 2px grey solid;
					color: grey;
					border-radius: 50%;
					text-align: center;
					text-align-last: center;
					line-height: 20px;
					font-size: 20px;
					font-weight: bold;
					z-index: 101; 
					cursor: pointer;
					&:hover{ 
						color: red;
						border: 2px red solid;
					}
				}
		  	}
		}
	}
}